# Specific
.mfractor/

# Visual Studio 2015 cache/options directory
.vs/

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
/**/Debug/*
/**/Release/*
/**/bin/*
/**/obj/*

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# User-specific files
*.suo
*.user
*.sln.docstates
*.userprefs
*.DS_Store
*.Cache
*.bak
/src/UpgradeLog*.htm

# Ignore Xamarin.Android Resource.Designer.cs files
**/*.Droid*/**/[Rr]esource.[Dd]esigner.cs
*/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
/**/*Android*/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs
**/Droid/**/[Rr]esource.[Dd]esigner.cs